@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nitalics";
  src: url("../src/assets/font/Noto_Sans/NotoSans-ExtraLightItalic.woff2") format('woff2');  
  src: url("../src/assets/font/Noto_Sans/NotoSans-ExtraLightItalic.woff") format('woff');
}

@font-face {
  font-family: "Nlight";
  src: url("../src/assets/font/Noto_Sans/NotoSans-Light.woff2") format('woff2');  
  src: url("../src/assets/font/Noto_Sans/NotoSans-Light.woff") format('woff');
}

@font-face {
  font-family: "Nmedium";
  src: url("../src/assets/font/Noto_Sans/NotoSans-Medium.woff2") format('woff2');  
  src: url("../src/assets/font/Noto_Sans/NotoSans-Medium.woff") format('woff');
}

@font-face {
  font-family: "Nregular";
  src: url("../src/assets/font/Noto_Sans/NotoSans-Regular.woff2") format('woff2');
  src: url("../src/assets/font/Noto_Sans/NotoSans-Regular.woff") format('woff');
}

@font-face {
  font-family: "Pbold";
  src: url("../src/assets/font/Poppins/Poppins-Bold.woff2") format('woff2');
  src: url("../src/assets/font/Poppins/Poppins-Bold.woff") format('woff');
}

@font-face {
  font-family: "Psemi";
  src: url("../src/assets/font/Poppins/Poppins-SemiBold.woff2") format('woff2'); 
  src: url("../src/assets/font/Poppins/Poppins-SemiBold.woff") format('woff');
}


@layer utilities {
  .navitem {
    @apply relative text-white no-underline font-semibold;

    &:hover {
      @apply text-yellow-400;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ffd700; /* Changed to Tailwind color */
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }

  .hover-2 {
    --c: #ffd700; /* the color */
    --b: 0.25em; /* border length */
    --d: 20px; /* the cube depth */

    --_s: calc(var(--d) + var(--b));

    color: var(--c);
    border: solid transparent;
    border-width: var(--b);
    background: conic-gradient(
          at left var(--d) bottom var(--d),
          transparent 90deg,
          rgba(255, 255, 255, 0.3) 0 225deg,
          rgba(255, 255, 255, 0.6) 0
        )
        border-box,
      conic-gradient(
          at left var(--_s) bottom var(--_s),
          transparent 90deg,
          var(--c) 0
        )
        0 100% / calc(100% - var(--b)) calc(100% - var(--b)) border-box;
    transform: translate(calc(var(--d) * -1), var(--d));
    clip-path: polygon(
      var(--d) 0%,
      var(--d) 0%,
      100% 0%,
      100% calc(100% - var(--d)),
      100% calc(100% - var(--d)),
      var(--d) calc(100% - var(--d))
    );
    transition: 0.5s;

    &:hover {
      transform: translate(0, 0);
      clip-path: polygon(
        0% var(--d),
        var(--d) 0%,
        100% 0%,
        100% calc(100% - var(--d)),
        calc(100% - var(--d)) 100%,
        0% 100%
      );
    }
  }
}
